<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScheduleV2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3BBBAEE2E7BFDB7002501DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3BBBAFF2E7BFDB8002501DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3BBBB092E7BFDB8002501DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
