# macOS 系统文件
.DS_Store

# Xcode 编译产物
/build/
/DerivedData/

# Xcode 个人设置
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcworkspace/xcuserdata/

.swiftpm/
/Packages/
*.xcodeproj/project.pbxproj.BACKUP.*
/Pods/
/Carthage/
